# Environnement virtuel
venv/
frontend/node_modules/
frontend/dist/

# Cache Python
__pycache__/
*.pyc

# Dossiers de données et logs (Corrigé)
tafust_data/
logs/
*.log

# Fichiers de configuration IDE (optionnel mais recommandé)
.vscode/
.idea/
.DS_Store

# Fichiers de variables d'environnement (si vous en utilisez plus tard)
.env

# Ignore les binaires Go
engine/*.exe
